body{
    box-sizing: border-box;
    display:none;
   font-family: 'Hind', 'Nanum Square', sans-serif;
}
.background_container{

 width:100%;position:absolute;top:-10%;z-index:-1;
}
.members{ background-color: rgba(255,255,255,1); border-radius: 2px;}

.music_videos{
width:80%;
position: relative;
left:10%;


}
.albums{
width:80%;
position: relative;
left:10%;


}


@media only screen and (max-width: 860px) {

 #navigation{

   background: linear-gradient(#f7cac9, #92a8d1)

 }

 .background_container{

   display: none;
 }

 .members_container{
   width:100%;
   position: relative;
   left:0;
   margin-top:3%;
 }
 .album_highlight{

   width:100%;
   position: relative;
   left:0;
   margin-top:3%;
}
 .music_videos{
  width:100%;
  position:relative;
   left:0;

}
.albums{
width:100%;
position: relative;
left:0%;


}

.form_container{

background-color:white;
width:100%;

margin-left:0%;
margin-top:4%;
margin-bottom:2%;
}
    








}

.divider{

color: rgb(80,80,80); border: 1px solid rgb(80,80,80);
}

.member_image{

border-radius: 2%;
width:100%;
transition: width 0.7s;
left:0px;
}






.member_info:hover .indicator{

visibility: visible;

}

.member_info:hover .member_image{

width:110%;
}
.indicator{ color: #92a8d1; border: 1px solid #92a8d1;visibility: hidden;}

.profile_nickname{

font-size: 70%;
color: rgb(150,150,150);
}
.album_name{
color:#92a8d1;
margin-top:10px;
}
.product_name{
color:rgb(80,80,80);
margin-top:10px;
font-size:14px;
text-align:justify;
}
.album_image img{
border-radius:3px;


transition:filter 1s;
}
.album_container:hover img {


filter: brightness(50%);
}
.album_container{
padding:3px;

}
.album_button{
position:absolute;left:0%;bottom:0px;width:100%;height:30%;opacity:0;
transition: opacity 1s;
font-size:20px;

}
.album_container:hover button {

opacity:0.3;

}

.album_highlight{

margin-top:2%;text-align:center;
margin-bottom:2%;
width:90%;
position: relative;
left:5%;
transition: display 2s;
background-color:rgba(240,240,240,0.7);
padding:10px;
}
.foot{

color:rgb(220,220,220) ;
padding:15px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-bottom:0%;
}
.description{
font-family: Georgia, 'Times New Roman', Times, serif;
color:#92a8d1;text-align:justify;
margin-bottom:1%;
}
.description li{
margin-top:2%;
}

.form_container{

background-color:white;
width:60%;

margin-left:20%;
margin-top:4%;
margin-bottom:2%;

}
.login_form{
text-align:justify;


}
.signup_form{
display:none;
}

.user_container{






}


.cart{














}
